@import url('https://fonts.googleapis.com/css2?family=Honk&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: black;
    color:aliceblue;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    box-sizing: border-box;
    height: 100vh;
    gap: 56px;;
}

.destaquetitulo {
    color: blue;
}

.sectiontext {
    font-family: "Honk", system-ui;
}

.partext {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
div {
    display: flex;
    justify-content: space-around;
}
a { 
    margin: 10px;
    padding: 15px;
    background-color: wheat;
    border-radius: 65px;
    text-decoration: none;
}
.butao__links{
    border: 1px solid red
    
}